rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /usuarios/{uid} {
      allow create: if request.auth != null
        && request.auth.uid == uid
        && request.resource.data.uid == uid;

      allow read, update, delete: if request.auth != null
        && request.auth.uid == uid;
    }
  }
}
