<ion-content class="bg-gray" scroll-y="true">
  <div class="container">
    <div class="header">
      <ion-icon name="chevron-back" class="back-btn" (click)="goBack()"></ion-icon>
      <span class="title">Crear cuenta</span>
    </div>

    <div class="form">
      <div class="input-block">
        <span class="label">Nombre</span>
        <input type="text" class="custom-input line-input" [(ngModel)]="nombre" />
      </div>

      <div class="input-block">
        <span class="label">Telefono</span>
        <input type="tel" class="custom-input line-input" [(ngModel)]="telefono" (input)="manejarTelefono($event)" maxlength="10" />
      </div>

      <div class="input-block">
        <span class="label">Email</span>
        <div class="input-row">
          <input type="email" class="custom-input line-input-icon" [(ngModel)]="email" />
          <ion-icon *ngIf="emailValido" name="checkmark-circle" class="right-icon"></ion-icon>
        </div>
      </div>

      <div class="input-block">
        <span class="label">Genero</span>
        <select class="custom-input line-input" [(ngModel)]="genero">
          <option value="">Selecciona</option>
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
          <option value="otro">Otro</option>
        </select>
      </div>

      <div class="input-block">
        <span class="label">Fecha de nacimiento</span>
        <input type="date" class="custom-input line-input" [(ngModel)]="fechaNacimiento" />
      </div>

      <div class="input-block">
        <span class="label">Contrasena</span>
        <input [type]="mostrarContrasena ? 'text' : 'password'" class="custom-input line-input" [(ngModel)]="contrasena" />
      </div>

      <div class="input-block">
        <span class="label">Confirmar contrasena</span>
        <input [type]="mostrarContrasena ? 'text' : 'password'" class="custom-input line-input" [(ngModel)]="confirmarContrasena" />
      </div>

      <div class="checkbox-row" (click)="toggleMostrarContrasena()">
        <div class="checkbox" [class.active]="mostrarContrasena">
          <ion-icon *ngIf="mostrarContrasena" name="checkmark" class="check-icon"></ion-icon>
        </div>
        <span class="checkbox-text">Mostrar contrasena</span>
      </div>

      <button class="btn-primary" (click)="validarFormulario()" [disabled]="creandoCuenta">
        {{ creandoCuenta ? 'Creando...' : 'Crear' }}
      </button>
    </div>
  </div>
</ion-content>
