<ion-content scroll-y="false" class="bg-light">
  <div class="container">
    <div class="header">
      <ion-icon name="chevron-back" class="back-btn" (click)="goBack()"></ion-icon>
      <span class="title">Contraseña</span>
    </div>

    <ng-container *ngIf="loading; else formTpl">
      <div class="loader-container">
        <ion-spinner name="crescent" color="primary" class="custom-spinner"></ion-spinner>
        <p class="conectando">Conectando...</p>
      </div>
    </ng-container>

    <ng-template #formTpl>
      <div class="form-wrapper">
        <p class="description">
          Ingresa la contraseña para<br/>
          “{{ssid}}”
        </p>

        <input type="password" placeholder="Contraseña" class="input" [(ngModel)]="password" />

        <button class="btn-primary" (click)="conectarWifi()">
          Conectar
        </button>
      </div>
    </ng-template>
  </div>
</ion-content>
