<ion-content scroll-y="false" class="bg-light">
  <div class="container">
    <div class="header">
      <ion-icon name="chevron-back" class="back-btn" (click)="goBack()"></ion-icon>
      <span class="title">Dispositivo Detectado</span>
    </div>

    <div class="image-container">
      <img src="assets/images/reloj.png" alt="Reloj" class="image" />
    </div>

    <h2 class="main-title">
      {{ bluetoothService.selectedDevice()?.name || 'Safeband detectada' }}
    </h2>
    <p class="description">
      <ng-container *ngIf="bluetoothService.selectedDevice() as dev">
        ID / MAC: {{ dev.deviceId }}<br/>
      </ng-container>
      Pulse en conectar para vincular la red
    </p>

    <button class="btn-primary" (click)="conectar()">
      Conectar
    </button>
  </div>
</ion-content>

