<ion-content scroll-y="false" class="bg-light">
  <div class="container">
    <div class="content">
      <h2 class="title">¡Safeband añadida con éxito!</h2>
      <p class="description">
        Has añadido tu Safeband exitosamente.<br/>
        Ahora puedes empezar a monitorear<br/>
        la detección de caídas.
      </p>
      
      <img src="assets/images/safeband.png" alt="Safeband" class="image" onerror="this.src='assets/images/logo.png'" />
    </div>

    <button class="btn-primary" (click)="irADispositivos()">
      Ver dispositivos
    </button>
  </div>
</ion-content>
