<ion-content scroll-y="true" class="bg-light">
  <div class="container">
    <div class="header">
      <ion-icon name="chevron-back" class="back-btn" (click)="goBack()"></ion-icon>
      <span class="title">Detalles de usuario</span>
    </div>

    <div class="form">
      <div class="field">
        <span class="field-text">Juana Guadalupe Morales</span>
      </div>

      <div class="field">
        <span class="field-text">Mujer</span>
      </div>

      <div class="field">
        <span class="field-text">23 Diciembre, 1992</span>
        <ion-icon name="calendar-outline" class="field-icon"></ion-icon>
      </div>

      <div class="field-group">
        <div class="field">
          <span class="field-text">SafeStep@gmail.com</span>
        </div>
        <span class="helper-text">Su correo no puede ser editado</span>
      </div>
    </div>
  </div>
</ion-content>
