<ion-content scroll-y="true" class="bg-light">
  <div class="container">
    <div class="header">
      <ion-icon name="chevron-back" class="back-btn" (click)="goBack()"></ion-icon>
      <span class="title">Detalles de usuario</span>
    </div>

    <div class="form" *ngIf="detalles$ | async as detalles">
      <div class="field">
        <span class="field-text">{{ detalles.nombre }}</span>
      </div>

      <div class="field">
        <span class="field-text">{{ detalles.genero }}</span>
      </div>

      <div class="field">
        <span class="field-text">{{ detalles.fechaNacimiento }}</span>
        <ion-icon name="calendar-outline" class="field-icon"></ion-icon>
      </div>

      <div class="field">
        <span class="field-text">{{ detalles.telefono }}</span>
        <ion-icon name="call-outline" class="field-icon"></ion-icon>
      </div>

      <div class="field-group">
        <div class="field">
          <span class="field-text">{{ detalles.correo }}</span>
        </div>
        <span class="helper-text">Su correo no puede ser editado</span>
      </div>
    </div>
  </div>
</ion-content>
